*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    ---colour1: rgb(51, 49, 49);
    ---colour2: red;
    ---colour3: white;
    ---colour4: transparent;
    ---colour5: rgb(171,38,98);
    ---colour6: rgb(227,10,23);
    ---colour7: rgb(161,151,168);
}
.firstimage{
    height: 850px;
    background-color: var(---colour1);
    background-blend-mode: multiply;
    background-image: url(/static/image/fbimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
}
.logos{
    display: flex;
    justify-content: space-between;
    padding: 1rem 7rem 0rem 7rem;
}
.logos > a{
    border: none;
   &:hover{
    border: 2px solid var(---colour3);
    height: 30px;
    width: 75px;
    border-radius: 2px;
   }
}
.button1{
    height: 26px;
    width: 71px;
    background-color: var(---colour2);
    color: var(---colour3);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.writeup{
    height: 300px;
    width: 800px;
    margin: 14rem 0rem 0rem 35rem;
}
.imgwrite > h1{
    color: var(---colour3);
    font-size: 59px;
    font-weight: bolder;
}
.imgwrite > h1 > span{
    margin-left: 50px;
}
.imgwrite > p{
    color: var(---colour3);
    margin-left: 8rem;
    font-size: 20px;
    font-weight: bold;
}
.form{
    margin-top: 20px;
}
.form > h3{
   font-size: 16px;
   color: var(---colour3);
   margin-left: 15px;
}
.button2{
    margin-left: 15px;
    margin-top: 15px;
    gap: 20px;
    display: flex;
}
.button2 > input{
    width: 330px;
    height: 50px;
    background-color: var(---colour4);
    color: var(---colour3);
    border: 1px solid ;
    padding: 14px 16px 8px;
    border-radius: 5px;
    border-color: none;
}
.button2 > input :focus{
    background-color: white;
}
.button2 > a > button{
    height: 50px;
    width: 213px;
    background-color: var(---colour2);
    color: var(---colour3);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.maincontainer{
    height: 2500px;
    width: 1692px;
    background: linear-gradient(180deg,rgba(11, 61, 227, 0.868) 0%, rgba(0, 0, 0, 1) 3%);
    background-size: cover;
    position: relative;
    z-index: 2;
    top: 48rem;
    border-top-left-radius: 50% 3%;
    border-top-right-radius: 50% 3%;
    border-top: 4px solid var(---colour2);
}
.imgcontainer{
    display: flex;
    justify-content: center;
}
.maincontainer > h2{
    color: var(---colour3);
    font-size: 24px;
    margin-top: 100px;
    margin-left: 80px;
}
.childcontainer{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.box1{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img1);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-right: 50px;
}
.box1 > img{
    margin-top: 8rem;
    margin-right: 2rem;
}
.box2{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img2);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box3{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img3);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box4{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img4);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box5{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img5);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box5 > img{
    margin-top: 9rem;
}
.box6{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img6);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box7{
    height: 250px;
    width: 180px;
    background-image: url(/static/image/img7);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.childcontainer1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.box8{
    width: 350px;
    height: 275px;
    padding: 24px 16px 128px;
    border-radius: 20px;
    background: linear-gradient(103deg,rgba(54, 60, 89, 1) 15%, rgba(64, 46, 53, 1) 100%);
}
.box8 > h3{
    margin-top: 10px;
    color: var(---colour3);
    font-size: 25px;
    font-weight: bold;
}
.box8 > p{
    margin-top: 20px ;
    color: var(---colour7);
    font-size: 16px;
    font-weight: bold;
}
.box8 >ion-icon{
    margin-top: 20px;
    margin-left: 15rem;
    width: 70px;
    height: 70px;
    color: rgb(23, 15, 18) ;
}
.box9{
    width: 350px;
    height: 275px;
    padding: 24px 16px 128px;
    border-radius: 20px;
    background: linear-gradient(103deg,rgba(54, 60, 89, 1) 15%, rgba(64, 46, 53, 1) 100%);
}
.box9 > h3{
    margin-top: 10px;
    color: var(---colour3);
    font-size: 25px;
    font-weight: bold;
}
.box9 > p{
    margin-top: 20px ;
    color: var(---colour7);
    font-size: 16px;
    font-weight: bold;
}
.box9 >ion-icon{
    margin-top: 20px;
    margin-left: 15rem;
    width: 70px;
    height: 70px;
    color: rgb(23, 15, 18) ;
}
.box10{
    width: 350px;
    height: 275px;
    height: 275px;
    padding: 24px 16px 128px;
    border-radius: 20px;
    background: linear-gradient(103deg,rgba(54, 60, 89, 1) 15%, rgba(64, 46, 53, 1) 100%);
}
.box10 > h3{
    margin-top: 10px;
    color: var(---colour3);
    font-size: 25px;
    font-weight: bold;
}
.box10 > p{
    margin-top: 20px ;
    color: var(---colour7);
    font-size: 16px;
    font-weight: bold;
}
.box10 >ion-icon{
    margin-top: 20px;
    margin-left: 15rem;
    width: 70px;
    height: 70px;
    color: rgb(23, 15, 18) ;
}
.box11{
    width: 350px;
    height: 275px;
    padding: 24px 16px 128px;
    border-radius: 20px;
    background: linear-gradient(103deg,rgba(54, 60, 89, 1) 15%, rgba(64, 46, 53, 1) 100%);
}
.box11 > h3{
    margin-top: 10px;
    color: var(---colour3);
    font-size: 25px;
    font-weight: bold;
}
.box11 > p{
    margin-top: 20px ;
    color: var(---colour7);
    font-size: 16px;
    font-weight: bold;
}
.box11 >ion-icon{
    margin-top: 20px;
    margin-left: 15rem;
    width: 70px;
    height: 70px;
    color: rgb(23, 15, 18) ;
}

.question{
    margin-top: 90px;
}
.question > h2{
    color: var(---colour3);
    font-size: 24px;
    margin-left: 80px;
}
.questionchild{
    margin-top: 30px;
}
.box12{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box12 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box12 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}
.box13{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box13 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box13 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}
.box14{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box14 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box14 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}
.box15{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box15 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box15 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}
.box16{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box16 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box16 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}
.box17{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    height: 80px;
    width: 1400px;
    margin-left: 90px;
    background-color: var(---colour1);
    padding: 24px;
}
.box17 > p{
    font-size: 24px;
    color: var(---colour3);
}
.box17 > ion-icon{
    height: 30px;
    width: 50px;
    color: var(---colour3);
}

.form2{
    margin-top: 10rem;
    margin-left: 28rem;
}
.form2 > h3{
   font-size: 16px;
   color: var(---colour3);
   margin-left: 8rem;
}
.button3{
    margin-left: 15px;
    margin-top: 15px;
    gap: 20px;
    display: flex;
}
.button3 > input{
    width: 550px;
    height: 50px;
    background-color: var(---colour4);
    color: var(---colour3);
    border: 1px solid ;
    padding: 14px 16px 8px;
    border-radius: 5px;
    border-color: none;
}
.button3 > input :focus{
    background-color: white;
}
.button3 > a > button{
    height: 50px;
    width: 213px;
    background-color: var(---colour2);
    color: var(---colour3);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.footer > p{
    margin-top: 5rem;
    margin-left: 7rem;
}
.footer > p > a{
    color: var(---colour7);
}
.footerparent{
    margin-top: 50px;
    margin-left: 7rem; ;
    display: flex;
    gap: 150px;
}
.fanchor{
    color: var(---colour7);
}

#select{
    margin-top: 5rem;
    margin-left: 7rem;
    width: 120px;
    padding: 6px 36px 6px 2px;
    background-color: var(---colour4);
    color: var(---colour3);
    border-radius: 5px;
}
#select:focus{
    border-color: var(---colour3);
}
.fend1{
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 14px;
    color: var(---colour7);
}
.fend2{
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 14px;
    color: var(---colour7);
}